<table width="100%">
  <tr>
    <td id="header">
      Site logo here
    </td>
  </tr>
  <tr>
    <td id="content-wrapper">
      <table id="content-box" width="100%">
        <tr>
          <td id="content">